* {
  margin: 0;
  padding: 0;
  border: 0;
}

.rect {
  border: 1px solid thistle;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  align-items: center;
  width: 94%;
}

.logo {
  float: left;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navItem {
  font-style: normal;
  font-weight: normal;
  font-size: 150%;
  line-height: 32%;
  color: #565E48;
  margin: 10px;
}

.searchDiv {
  display: flex;
  justify-content: left;
}

.searchInput {
  border: none;
  width: 70%;
  border-bottom: 1px solid #868E77;
}

.searchImage {
  margin-left: -15%;
}

.lang {
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  color: #565E48;
  margin: 4px;

  &.activeLang {
    background: rgba(86, 94, 72, 0.27);
    padding: 5px;
    height: 32px;
    border-radius: 20px;
  }

}

@media screen and (max-width: 1150px) {
  .navItem {
    font-size: 100%;
  }
}

@media screen and (max-width: 900px) {
  .navItem {
    font-size: 70%;
  }
}

@media screen and (max-width: 750px) {
  .navItem {
    font-size: 50%;
  }
}
