.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.main {
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 #947968;
  max-width: 450px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

input[type=text], input[type=number], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  outline: none;
}

.form-group {
  width: 100%;
  height: 90px;
  color: #EC7523;
}

.form-label {
   display: inline-block;
   width: 350px; 
   text-transform: uppercase;
}

.form-control {
 width: 200px;
}

.form-error { 
  color: red; 
  font-size: x-small;
} 

.form-submit {
  width: 189px;
  height: 40px;
  left: 59px;
  top: 1137px;
  background: #EC7523;
  border-radius: 30px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  color: #FFFFFF;
  border :none;
  margin-top: 5%;
}

.form-submit:hover {
 opacity: 0.8;
}

