<div class="wrapper">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="main fadeInDown">
    <div class="form-group">
      <label class="form-label">firstname</label>
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
      />
      <div *ngIf="userForm.controls['firstName'].errors && 
        userForm.controls['firstName'].invalid &&
        userForm.controls['firstName'].dirty">
        <div *ngIf="userForm.controls['firstName'].errors.required" class="form-error">
          Please enter a firstname
        </div>
        <div *ngIf="userForm.controls['firstName'].errors.minlength" class="form-error">
          min length for firstname is 3
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">lastname</label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
      />
      <div *ngIf="userForm.controls['lastName'].errors && 
        userForm.controls['lastName'].invalid &&
        userForm.controls['lastName'].dirty">
        <div *ngIf="userForm.controls['lastName'].errors.required" class="form-error">
          Please enter a lastname
        </div>
        <div *ngIf="userForm.controls['lastName'].errors.minlength" class="form-error">
          min length for lastname is 3
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
      />
      <div *ngIf="userForm.controls['username'].errors && 
        userForm.controls['username'].invalid &&
        userForm.controls['username'].dirty">
        <div *ngIf="userForm.controls['username'].errors.required" class="form-error">
          Please enter a username
        </div>
        <div *ngIf="userForm.controls['username'].errors.minlength" class="form-error">
          min length for username is 3
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
      />
      <div *ngIf="userForm.controls['password'].errors && 
        userForm.controls['password'].invalid &&
        userForm.controls['password'].dirty">
        <div *ngIf="userForm.controls['password'].errors.required" class="form-error">
          Please enter a password
        </div>
        <div *ngIf="userForm.controls['password'].errors.minlength" class="form-error">
          min length for password is 3
        </div>
      </div>
    </div>
   
    <button class="form-submit" type="submit">Submit</button>
  </form>
</div>
