.menu-item {
    position: relative;
    margin: 10px 0;

    &-hover {
        position: absolute;
        top: 0;
        width: 350px;
        height: 250px;
        background: rgba(237, 162, 111, 0.71);
        border-radius: 30px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-price {
        border-radius: 50%;
        background-color:#EC7523;
        position: absolute;
        width: 150.15px;
        height: 147.87px;
        left: 20px;
        top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    &-price-text {
        left: 40.09px;
        top: 1096.4px;
    
        font-family: Red Hat Display;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }

    &-food {
        width: 250px;
        height: 250px;
        position:absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
    
    &-img-1, &-img-2, &-img-3 {
        position: relative;
        width: 350px;
        height: 250px;
        background-image: url('/assets/yellow-bg.png');
        background-position: 62px 0;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    &-img-2 {
        background-image: url('/assets/blue-bg.png');
        background-position: 0 0;
    }

    &-img-3 {
        background-image: url('/assets/red-bg.png');
        background-position: 0 0;
    }

    &-title {
        font-family: Red Hat Display;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 48px;
        color: #2A2D26;
    }

    &-description {
        width: 100%;
        font-family: Red Hat Display;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #2A2D26;

        p {
            margin-bottom: 80px;
        }
    }

    &-quantity {
        width: 60%;
        height: 76px;
        background: rgba(136, 191, 64, 0.9);
        border-radius: 50px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }

    &-decrement {
        width: 50px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        background-color: white;
        color: #000000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &-number {
        width: 50px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        color: #000000;
        text-align: center;
    }

    &-increment {
        width: 50px;
        height: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        background-color: white;
        color: #000000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } 

    &-add-basket {
        width: 60%;
        height: 52px;
        background: rgba(136, 191, 64, 0.9);
        border-radius: 30px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        color: white;
        margin-top: 26px;
        font-size: 20px;
        cursor: pointer;
    }
}
