.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 164px);
    padding: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    padding: 20px;
}

th, td {
    border: 1px solid #EC7523;
    padding: 20px;
}

th {
    color: #EC7523;
    text-transform: uppercase;
}

.user {
    &-confirm {
        cursor:pointer;
        color: #EC7523;
    }

    &-delete-icon {
        width: 20px;
        height: 20px;
        padding: 0 16px;
        cursor: pointer;
    }
}

