table {
  width: 70%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  width: 100px;
  color: white;
}

p {
  margin-right: 10%;
  text-align: end;
  margin-top: 1%;
}

button {
  padding: 12px;
  font-weight: bold;
  font-size: medium;
  border-radius: 25px;
  background-color: #04AA6D;
  text-align: center;
  color: white;
  margin-top: 1%;
  margin-left: 80%;
}
