<img class="home-page-main-img" src="assets/hero.svg" alt="hjk">
<div class="transparent-white-rect">
  <span class="good-morning-text"> Good Morning! Hungry?</span>
  <p class="text">Everything I’ve been craving this winter. In one pretty little bowl.</p>
  <p class="text">ANNE JHONS</p>
  <section [ngStyle]="{flexDirection: 'column'}">
    <button class="dishesButton"> Dishes</button>
    <button class="nextButton">
      <img src="assets/arrow.svg" alt="arrow">
    </button>
  </section>
</div>