<div class="home-page-header">
  <div class="home-page-header-transparent-rect">
    <span class="good-morning-text"> Ողջույն!</span>
    <p class="text">Պատվերները ընդունվում են երեկոյան 06:00-ից մինչև առավոտյան 10:00:</p>
    <p class="text">Սնունդը պետք է վերցնել անհատական կոդով, որը կարող եք գտնել զամբյուղում:</p>
  </div>
</div>
<div class="home-page-menu-items">
  <div 
  class="home-page-menu-item"
  *ngFor="let item of menu; let i=index"
>
  <app-menu-item
    [item]="item"
    [index]="i"
  ></app-menu-item>
</div>

</div>